## OAuth2 Proxy Config File
## https://github.com/bitly/oauth2_proxy
## https://github.com/bitly/oauth2_proxy/blob/master/contrib/oauth2_proxy.cfg.example

{% for k,v in oauth2_proxy_config.iteritems() %}
{% if v is string %}
{{ k }} = "{{ v }}"
{% else %}
{{ k }} = {{ v | to_json }}
{% endif %}
{% endfor %}
