# Name of this GitHub Actions workflow.
name: Code Scanning

on:
  pull_request: 
    branches: ["master"]
  
  push:
    branches: ["master"]
 
  schedule:
    - cron: '30 4 * * 6' 

permissions:
   actions: read
   contents: read
   security-events: write

jobs:
  semgrep-full:
    runs-on: [ self-hosted, default ]
    container:
      image: returntocorp/semgrep

    steps:
      - name: clone application source code
        uses: actions/checkout@v3

      - name: full scan
        run: |
          semgrep \
            --sarif --output report.sarif \
            --metrics=off \
            --config="p/default"
          
      
      - name: Upload SARIF file for GitHub Advanced Security Dashboard
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: report.sarif
        if: always()